* {
    margin: 0;
    padding: 0;
}
.card {
    width: 210px;
    margin: 0;
    border: groove 1px;
    position: absolute;
    top: 30%;
    left: 30%;
}
.circle_button {
    background-color: #3E4551;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: right;
    margin-top: -10px ;
    margin-right: 10px;
    position: relative;
}
.image {
    position: relative;
    height: 250px;
    width: 210px;
}
.card-content {
    font-family: monospace;
    color: dimgray;
    margin-top: 10px;
    padding: 10px;
}
.card-title {
    padding-bottom: 10px;
}
.line {
    width: 50%;
    position: absolute;
    left: 25%;
}
.content {
    padding-top: 10px;
    font-size: 10px;
}
.button {
    background-color: #3E4551;
    width: 100%;
    color: white;
    text-align: center;
}